.app-container .side-menu .panel.widget .avatar {
  height: 36px;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand img {
  width: 36px;
  height: 36px;
}

.app-container .side-menu .panel.widget a,
.app-container .side-menu .panel.widget h4,
.app-container .side-menu .panel.widget p,
.app-container .side-menu .panel.widget small {
  display: none;
}

.app-container.expanded .side-menu .panel.widget a,
.app-container.expanded .side-menu .panel.widget h4,
.app-container.expanded .side-menu .panel.widget p,
.app-container.expanded .side-menu .panel.widget small {
  display: block;
  text-align: center;
}

.app-container .side-menu:hover .panel.widget a,
.app-container .side-menu:hover .panel.widget h4,
.app-container .side-menu:hover .panel.widget p,
.app-container .side-menu:hover .panel.widget small {
  display: block;
  text-align: center;
}

.app-container .side-menu .panel.widget h4 {
  overflow: initial;
  height: initial;
  position: initial;
  left: initial;
  top: initial;
  float: none;
  width: initial;
}

.app-container .side-menu .panel.widget .avatar,
.app-container .side-menu:hover .panel.widget .avatar {
  float: none;
  margin: 0;
}

nav#navbar .navbar-nav.navbar-right {
  margin-right: 10px;
}

.app-container .content-container .side-menu .navbar-nav li.dropdown .header-menu a {
  line-height: 52px;
  font-size: 12px;
  cursor: default;
}

.voyager .side-menu.sidebar-inverse .navbar li.header-menu > a:hover,
.voyager .navbar .navbar-nav > li.header-menu:hover > a,
.voyager .navbar.navbar-default .navbar-nav > li.header-menu:hover > a {
  background: transparent;
  color: #76838f;
}

.app-container .content-container .side-menu .navbar-nav li.header-menu a .title {
  padding-left: 0;
}

.page-content .panel.widget.bgimage {
  height: 100%;
}

/* Apartir de tablet */

@media (min-width: 768px) {
  .row.equal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* Tablet e celular */

@media (max-width: 768px) {
  .app-container.expanded .fast-link {
    display: none;
  }
}

#newNoResults .noResults,
#newNoResults .createNew,
#newNoResults .createNew a {
  float: left;
  width: 100%;
}

#newNoResults .noResults {
  padding-bottom: 10px;
}

#newNoResults .createNew a {
  padding: 15px 0;
  text-align: center;
  background-color: #fbe3e3;
  color: #d40000;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.keeping .voyager-refresh {
  top: 1px;
  left: 0;
  -webkit-transform-origin: 43% 40%;
  transform-origin: 43% 40%;
  -ms-transform-origin: 43% 40%;
  display: inline-block;
  position: relative;
}

.keeping .voyager-refresh {
  top: 0;
  font-size: 10px;
}

.keeping .voyager-refresh {
  -webkit-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear;
}

.modal .modal-dialog .modal-content {
  overflow: hidden;
}

.fast-link {
  margin: 8px 0;
  border-left: none !important;
}

.select2-dropdown {
  z-index: 9001;
}

